.card{
    padding: 10px;
    width: 400px;
    margin: 15px;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 2px 1px 20px 5px rgba(57, 98, 223, 0.26);
    
}
.cardHolder{
    background-color: rgba(254, 255, 252, 0.425);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.detailsHolder{
    padding: 1rem;
    margin: 1rem;
}
.displayDetails{
    margin: 5%;
    width: 90%;
    height: 80%;
    overflow: scroll;
    border-radius: 10px;
    background-color: rgba(184, 219, 236, 0.89);

}
#display{
    display: none;
    padding: 3%;
}
.features1{
    display: flex;
        justify-content: space-around

}
.MainFeatures{
}
.sensor{
}
.others{
}
.detailsWhole{

}
#seeMore{
    display: none;
    border: 0 ;
    background-color: rgb(255, 255, 255);
}
#done{
    margin-bottom: 20px;
    margin-left: 20px;
}