.card{
    padding: 10px;
    width: 400px;
    margin: 15px;
    background-color: rgba(241, 43, 175, 0.397) !important;
    
}
.cardHolder{
    background-color: rgba(191, 194, 186, 0.425);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.detailsHolder{
    padding: 1rem;
    margin: 1rem;
}
.displayDetails{
    margin: 5%;
    width: 90%;
    height: 80%;
    overflow: scroll;
    border-radius: 10px;
    background-color: rgba(247, 249, 250, 0.89);

}
#display{
    display: none;
}
.features1{
    display: flex;
        justify-content: space-around

}
.MainFeatures{
}
.sensor{
}
.others{
}
.detailsWhole{

}
#seeMore{
    display: none;
    border: 0 ;
    background-color: rgb(255, 255, 255);
}